* {
	font-family: 'Atkinson Hyperlegible', sans-serif;
}

*::selection{
	color: white;
	background-color: #b50ed9;
}

nav{
	padding: 15px 15px 30px 15px;
	background: linear-gradient(#000, transparent);
	position: absolute;
	width: 100%;
}

nav ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: right;
}

nav ul li a{
	color: #fff;
	text-decoration: none;
	padding: 20px;
}

nav ul li a:hover{
	color: #27c558;
	text-decoration: none;
}

.welcome-container{
	height: 100vh;
	width: 100%;
}

.presentation{
	position: absolute;
	background-color: #07020f;
	border-radius: 20px;
	border-color: #b50ed9;
	top: 40%;
	animation-name: desplazarse;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.presentation h2{
	color: #fff;
	text-align: left;
}

.presentation h2 strong{
	color: #27c558;
	font-size: 70px;
}

#particles-js{
	height: 100vh;
	background-color: #07020f;
	background-repeat: no-repeat;
	background-size: 20%;
}

.technologies{
	text-align: center;
	margin-top: 40px;
}

.flex-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-bottom: 2px solid #dedede;
}

.flex-item{
	padding-bottom: 25px;
	margin: 30px 50px;
	text-align: center;
	border-bottom: 2px solid #27c558;
}

.flex-item img{
	flex-grow: 1;
	margin: 20px 20px 0px 20px;
	padding: 20px 20px;
	max-width: 100px;
}

.proyects{
	height: 80vh;
	padding: 40px;
	text-align: center;
	background-color: #f2fff3;
	/*o f1f1f1*/
}

.proyects-flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
}

.proyects-flex-item{
	flex-grow: 1;
	height: 50vh;
	border: 4px solid #27c558;
	border-radius: 20px;
	max-width: 80vh;
	margin: 20px;
	background-color: #07020f;
}

footer{
	background-color: #07020f;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.footer-flex-item img{
	flex-grow: 1;
	margin: 20px 20px 0px 20px;
	padding: 20px 20px;
	max-width: 100px;
}

.footer-flex-item img:hover {
	filter: invert(100%);
}

@keyframes desplazarse{
	0%{
		left: 15%;
	}
	100%{
		left: 20%;
	}
}